## Data Cleaning

In [1]:
import numpy as np
import pandas as pd
import re

In [2]:
ch89dg = pd.read_csv('./data/CH89DG.csv')

In [3]:
ch89dg.head(2)

,County,Sex,Xiang,D001,D002,D003,D004,D005,D006,D007,...,D158,D159,D160,D161,G001,G002,G003,G004,G005,
0,AA,M,1,.,.,.,.,.,.,.,...,.,.,.,.,.,.,.,.,.,NaN
1,AA,M,2,.,.,.,.,.,.,.,...,.,.,.,.,.,.,.,.,.,NaN

In [4]:
def clean_header(df):
    '''fn should format all dataframes as described below'''
    df.columns = df.columns.str.lower()
    df.columns = df.columns.str.replace("-", "_").str.replace(" ", "").str.replace("__", "_")

    return df

In [5]:
clean_header(ch89dg)

,county,sex,xiang,d001,d002,d003,d004,d005,d006,d007,...,d158,d159,d160,d161,g001,g002,g003,g004,g005,
0,AA,M,1,.,.,.,.,.,.,.,...,.,.,.,.,.,.,.,.,.,NaN
1,AA,M,2,.,.,.,.,.,.,.,...,.,.,.,.,.,.,.,.,.,NaN
2,AA,M,3,.,.,.,.,.,.,.,...,.,.,.,.,.,.,.,.,.,NaN
3,AA,F,1,.,.,.,.,.,.,.,...,.,.,.,.,.,.,.,.,.,NaN
4,AA,F,2,.,.,.,.,.,.,.,...,.,.,.,.,.,.,.,.,.,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
616,YA,F,2,.,.,.,.,.,.,.,...,.,.,.,.,.,.,.,.,.,NaN
617,YA,F,3,.,.,.,.,.,.,.,...,.,.,.,.,.,.,.,.,.,NaN
618,YA,T,1,2111,61.0,70.6,318,25.9,13.4,4.9,...,0.001,0.002,0.001,0.043,.,.,.,.,.,NaN
619,YA,T,2,1872,45.5,63.7,300,22.0,13.9,4.7,...,0.001,0.002,0.001,0.044,.,.,.,.,.,NaN
620,YA,T,3,1992,53.3,67.2,309,23.9,13.7,4.8,...,0.001,0.002,0.001,0.043,42.4,113.9,1000,3,2,NaN

In [14]:
ch89dg.replace(to_replace=' ', value='', regex=True, inplace=True)
ch89dg.replace(to_replace='^\.$', value='', regex=True, inplace=True)

In [16]:
ch89dg

,county,sex,xiang,d001,d002,d003,d004,d005,d006,d007,...,d158,d159,d160,d161,g001,g002,g003,g004,g005,
0,AA,M,1,,,,,,,,...,,,,,,,,,,NaN
1,AA,M,2,,,,,,,,...,,,,,,,,,,NaN
2,AA,M,3,,,,,,,,...,,,,,,,,,,NaN
3,AA,F,1,,,,,,,,...,,,,,,,,,,NaN
4,AA,F,2,,,,,,,,...,,,,,,,,,,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
616,YA,F,2,,,,,,,,...,,,,,,,,,,NaN
617,YA,F,3,,,,,,,,...,,,,,,,,,,NaN
618,YA,T,1,2111,61.0,70.6,318,25.9,13.4,4.9,...,0.001,0.002,0.001,0.043,,,,,,NaN
619,YA,T,2,1872,45.5,63.7,300,22.0,13.9,4.7,...,0.001,0.002,0.001,0.044,,,,,,NaN
620,YA,T,3,1992,53.3,67.2,309,23.9,13.7,4.8,...,0.001,0.002,0.001,0.043,42.4,113.9,1000,3,2,NaN